html{
    color-scheme: dark;
}

main{
    margin: 120px 0 0 0;
}

.font-main{
    font-size: 30px;
    margin-bottom: 15px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.font-main2{
    font-size: 29px;
    margin-bottom: 15px;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.m-c-container{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.m-container{
    background-color: #5c5c5c;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px #444444;
    min-width: 300px;
}

p{
    margin: 0;
}

p:nth-child(even){
    color: #a896e3;
}

body{
    font-size: 20px;
    font-family: 'Oswald';
}

.container-contact{
    display: flex;
    align-items: center;
}

svg{
    margin: 0 15px 0 0;
}